<div class="col-lg-12" align="center">
<br/><br/><br/><br/><br/><br/><br/>

<h1>Sorry, but you have no permission to use this application. <br/> A request was sent to the admin to grant you access.</h1>

<br/><br/><br/><br/>
</div>