%section#contact
  .col-md-12.text-center
    %br/
    %br/
    = image_tag("ez_logo.png", :alt => "rss feed")
  .col-lg-10.col-lg-offset-1.text-center
    %br/
    %br/
    .col-md-6.text-center
      %h1
        %strong EZ Troubleshooter
      %p
        ITS OK LLC
        %br>/
        Orlando, Florida, USA
      %ul.list-unstyled
        / <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
        %li
          %i.fa.fa-envelope-o.fa-fw
          %a{:href => "mailto:hector.sierra@eztroubleshooter.com"} hector.sierra@eztroubleshooter.com
    .col-md-6.text-center
      %h1
        %strong EZ Online
      %p
        University of the Philippines Diliman
        %br>/
        Quezon City, Philippines
      %ul.list-unstyled
        / <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
        %li
          %i.fa.fa-envelope-o.fa-fw
          %a{:href => "mailto:ezonline.dev@gmail.com"} ezonline.dev@gmail.com
        %br/
        %br/
        %br/
        %br/