 <!-- <div class="col-lg-12" align="center">
<br/><br/><br/><br/><br/><br/><br/>

<h1>Log in With Your Google Account</h1>

<br/><br/><br/><br/> -->

<section id="contact">
    <div class="col-md-12 text-center">
    <br/> <br/> 
    <%= image_tag("ez_logo.png", :alt => "rss feed") %>
    </div>
    
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <br/> <br/> 
        <div class="col-md-6 text-center">
            <h1><strong>EZ Troubleshooter</strong></h1>
            <p>ITS OK LLC<br>Orlando, Florida, USA</p>
            <ul class="list-unstyled">
             <!-- <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li> -->
            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:hector.sierra@eztroubleshooter.com">hector.sierra@eztroubleshooter.com</a>
            </li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
            <h1><strong>EZ Online</strong></h1>
            <p>University of the Philippines Diliman<br>Quezon City, Philippines</p>
            <ul class="list-unstyled">
            <!-- <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li> -->
            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:ezonline.dev@gmail.com">ezonline.dev@gmail.com</a>
            </li>
            <br/> <br/> <br/> <br/> 
            </ul>
        </div> 
    </div>
</section>