<h1>EZ Troubleshooter File Repository Home Page</h1>
<%= button_to "Login", { action: "login" }, form_class: "new-thing" %>
<%= button_to "Show User Requests", { action: "show" }, form_class: "new-thing" %>
