<% provide(:title, '') %>


<header id="top" class="header">
        <div class="text-vertical-center">
            <div class="col md-4">
                <h1>EZOnline</h1>
                <h3>Work Management App for <br> EZ Troubleshooter</h3>
                <br>
                <a href="user/login" class="btn btn-dark btn-lg">Login with your Google account</a>
            </div>           
        </div>
    </header>



    <!-- Example row of columns -->
    

<div class = "container">

<!-- <h1>EZ Troubleshooter File Repository Home Page</h1> -->




