%h1 Tasklist
%h5 The following is a list of snippets that have been assigned to you for editing by EZOnline's admins.
%br/

.panel-body
  .table-responsive
    %table#requests.table.table-hover
      - unless @files.empty?
        %thead
          %tr
            %th Title
        %tbody
          - @files.each do |doc, snippets|
            %tr
              %td{:colspan => "2"}
                %strong= doc.docname
              %td{:colspan => "2"}
                %button Show/Hide Details
            %tr
              %td{:colspan => "1"}
                - unless @details[doc.doc_id][:done]
                  = button_to "Mark as Done",
                    notify_user_path(doc.doc_id),
                    :method => :get,
                    data: { confirm: 'You are about to notify an admin that this file has thoroughly been edited.' }
                - else
                  %i Pending approval
              %td{:colspan => "3"}
                - @details[doc.doc_id][:note]
            - snippets.each do |snippet|
              %tr
                %td{:colspan => "2"}= snippet.title
                %td{:colspan => "2"}
                  = button_to "Show History",
                    history_file_path(snippet),
                    :method => :get
            %tr
              %td{:bgcolor => "#009966", :colspan => "4"}
      - else
        %h3 You have no assigned files yet.
  / /.table-responsive
/ /.panel-body