<h1 align = center>Welcome to your Dashboard!</h1><br/>
<h3>Tasklist</h3>
<h5>The following is a list of Google Doc snippets that have been assigned to you by one of EZ Troubleshooter's admins.</h5><br/>

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
<div class="panel-body">
  <div class="table-responsive">
      <table id="requests" class="table table-hover">

        <% unless @files.empty? %>
           	<thead>
              <tr>
                  <th>Title</th>                              
              </tr>
	        </thead>
	        <tbody>
              <% @files.each do |doc, snippets| %>
         	    <tr>
                  <td colspan="2"><strong><%= doc.docname %></strong></td>
                  <td colspan="2"><button>Show/Hide Details</button></td>
              </tr>
              <tr>
                  <td colspan="1">
                    <% unless @details[doc.doc_id][:done] %>
                      <%= button_to "Mark as Done",
                                    notify_user_path(doc.doc_id),
                                    :method => :get,
                                    data: { confirm: 'You are about to notify an admin that this file has thoroughly been edited.' }
                      %>  
                      <% else %>
                        <i>Pending approval</i>
                    <% end %>      
                  </td>
                  <td colspan="3">
                    <% @details[doc.doc_id][:note] %>
                  </td>
              </tr>       
                <% snippets.each do |snippet| %>
                  <tr>
                    <td colspan="2"><%= snippet.title %></td>
                    <td colspan="2">
                      <%= button_to "Show History",
                                    history_file_path(snippet),
                                    :method => :get
                      %>                                  
                  </tr>
                <% end %>
                <tr>
                  <td colspan="4" bgcolor="#009966"></td>
                </tr>
              <% end %>
            </tbody>

        <% else %>
            <h3>You have no assigned files yet.</h3> 	
        <% end %>
      </table>
  </div>
  <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>
