<h1 align = center>Pending User Authentication Requests</h1><br />

<body>
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          
          <!-- /.panel-heading -->
          <div class="panel-body">
              <div class="table-responsive">
                  <table id="requests" class="table table-hover">
                      <thead>
                          <tr>
                              <th>User ID</th>
                              <th>Username</th>
                              <th>Email Address</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <% @requests.each do |request| %>
                            <tr>
                              <td><%= request.user_id %></td>
                              <td><%= request.username %></td>
                              <td><%= request.email %></td>                              
                              <td>
                                  <%= button_to "Approve Request",
                                                user_path(request),
                                                method: :delete,
                                                data: { confirm: 'You are about to authorize this account to use EZ Troubleshooter File Repository.' } ,
                                                :class => 'btn btn-primary btn-small'
                                  %>                                  
                              </td>
                            </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>
</body>
 

