%body
  %h1 Pending User Authentication Requests
  %br/
  .row
    .col-lg-12
      .panel.panel-default
        / /.panel-heading
        .panel-body
          .table-responsive
            %table#requests.table.table-hover
              %thead
                %tr
                  %th User
                  %th Username
                  %th Email Address
                  %th
              %tbody
                - @requests.each do |request|
                  %tr
                    %td= request.user_id
                    %td= request.username
                    %td= request.email
                    %td
                      = button_to "Approve Request",                        
                        user_path(request),
                        method: :delete,
                        data: { confirm: 'You are about to authorize this account to use EZ Troubleshooter File Repository.' },
                        :class => 'btn btn-primary btn-small'