/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/stylesheets, vendor/stylesheets,
 * or vendor/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require style-responsive
 *= require style
 *= require component
 *= require demo
 *= require normalize
 *= require table-responsive
 *= require to-do
 *= require zabuto_calendar
 *= require_tree .
 *= require_self 
 */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'ecoicons';
    src: url("fonts/ecoicons/ecoicons.eot");
    src: url("fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("fonts/ecoicons/ecoicons.woff") format("woff"), url("fonts/ecoicons/ecoicons.ttf") format("truetype"), url("fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}


